<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <title>Ajout ligne commande</title>
</head>
<body style="margin-left: 1.5%; margin-right: 1.5%">

<h1>Ajout d'une ligne de commande:</h1>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Accueil</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a sec:authorize="!isAuthenticated()" class="nav-link" th:href="@{/connexion}">Inscription / Connection</a>
                </li>
                <li class="nav-item">
                    <a sec:authorize="isAuthenticated()" class="nav-link" th:href="@{logout}">Deconnexion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/produits}">Produits</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/commandes}">Commandes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/ligneCommandes}">Panier</a>
                </li>
                <li class="nav-item">
                    <a sec:authorize="hasRole('administrateur')" class="nav-link" th:href="@{http://localhost:8100/actuator}">Actuator</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</br>
<div class="container" style="width: 30%">
    <form th:action="@{/AjoutLigneCommande}" th:object="${ligneCommande}" method="post">
        <div class="mb-3">
            <label for="produit_id" class="form-label">Nom produit: </label>
            <select type="text" th:field="*{produit_id}" name="produit_id" id="produit_id" class="form-select">
                <option th:value="${produit.id}">
                    <p th:text="${produit.name}"></p>
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label for="quantite" class="form-label">Quantite: </label>
            <select type="text" th:field="*{quantite}" name="quantite" id="quantite" class="form-select">
                <option th:value="1">1</option>
                <option th:value="2">2</option>
                <option th:value="3">3</option>
                <option th:value="4">4</option>
                <option th:value="5">5</option>
                <option th:value="6">6</option>
                <option th:value="7">7</option>
                <option th:value="8">8</option>
                <option th:value="9">9</option>
                <option th:value="10">10</option>
            </select>
        </div>
        <div class="mt-3 text-center">
            <input class="btn btn-primary mt-3" type="submit" value="Valide"/>
        </div>
    </form>
</div>

</body>
</html>