<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <title>Ajout ligne commande</title>
</head>
<body style="margin-left: 1.5%; margin-right: 1.5%">

<h1>Ajout d'une ligne de commande:</h1>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Accueil</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a sec:authorize="!isAuthenticated()" class="nav-link" th:href="@{/connexion}">Inscription / Connection</a>
                </li>
                <li class="nav-item">
                    <a sec:authorize="isAuthenticated()" class="nav-link" th:href="@{logout}">Deconnexion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/produits}">Produits</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/commandes}">Commandes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/ligneCommandes}">Panier</a>
                </li>
                <li class="nav-item">
                    <a sec:authorize="hasRole('administrateur')" class="nav-link" th:href="@{http://localhost:8100/actuator}">Actuator</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</br>
<div class="container" style="width: 30%">
    <form th:action="@{/AjoutCommande}" th:object="${commande}" method="post">
        <div class="mb-3">
            <label for="ligneCommande.id" class="form-label">Quantite: </label>
            <select type="text" th:field="*{ligneCommande.id}" name="ligneCommande.id" id="ligneCommande.id" class="form-select">
                <option th:value="${ligneCommande.id}">
                    <p th:text="${ligneCommande.quantite}"></p>
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label for="ligneCommande.id" class="form-label">Id du produit: </label>
            <select type="text" th:field="*{ligneCommande.id}" name="ligneCommande.id" class="form-select">
            <option th:value="${ligneCommande.id}">
                <p th:text="${ligneCommande.produit_id}"></p>
            </option>
            </select>
        </div>
        <div class="mb-3">
            <label for="date_commande" class="form-label">Date Commande: </label>
            <input type="text" th:field="*{date_commande}" id="date_commande" class="form-control">
        </div>
        <div class="mb-3">
            <label for="adresse" class="form-label">Adresse: </label>
            <input type="text" th:field="*{adresse}" id="adresse" class="form-control">
        </div>
        <div class="mt-3 text-center">
            <input class="btn btn-primary mt-3" type="submit" value="Valide"/>
        </div>
    </form>
</div>
</body>
</html>