<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
<head>
    <title>Accueil</title>
</head>
<body style="margin-left: 1.5%; margin-right: 1.5%">
<h1>
    Page d'accueil livraison test Covid.
</h1>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Accueil</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a sec:authorize="!isAuthenticated()" class="nav-link" th:href="@{/connexion}">Inscription / Connection</a>
                </li>
                <li class="nav-item">
                    <a sec:authorize="isAuthenticated()" class="nav-link" th:href="@{logout}">Deconnexion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/produits}">Produits</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/commandes}">Commandes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/ligneCommandes}">Panier</a>
                </li>
                <li class="nav-item">
                    <a sec:authorize="hasRole('administrateur')" class="nav-link" th:href="@{http://localhost:8100/actuator}">Actuator</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div style="width:30%; text-align:center;margin-left:32%">
    <h2>Bienvenue sur le site de commande de test Covid!</h2>

    <h3>Vous pouvez vous déplacer sur le site à l'aide du menu en haut.</h3>
</div>
</body>
</html>
