<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Panier</title>
</head>
<body style="margin-left: 1.5%; margin-right: 1.5%">

<h1>
    Panier:
</h1>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Accueil</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a sec:authorize="!isAuthenticated()" class="nav-link" th:href="@{/connexion}">Inscription / Connection</a>
                </li>
                <li class="nav-item">
                    <a sec:authorize="isAuthenticated()" class="nav-link" th:href="@{logout}">Deconnexion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/produits}">Produits</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/commandes}">Commandes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/ligneCommandes}">Panier</a>
                </li>
                <li class="nav-item">
                    <a sec:authorize="hasRole('administrateur')" class="nav-link" th:href="@{http://localhost:8100/actuator}">Actuator</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<table class="table">
    <tr>
        <th>Quantité :  </th>
        <th>ID produit :  </th>
        <th>ID Ligne Commande :  </th>
    </tr>
    <div th:each="ligneCommande: ${ligneCommande}">
        <tr>
            <td>
                <span th:text="${ligneCommande.quantite}"></span>
            </td>
            <td>
                <span th:text="${ligneCommande.produit_id}"></span>
            </td>
            <td>
                <span th:text="${ligneCommande.id}"></span>
            </td>
            <td>
                <div sec:authorize="hasRole('administrateur')">
                    <a class="btn btn-success" th:href="@{/AjoutCommande/{id}(id = ${ligneCommande.id})}">Ajout Commande</a>
                </div>
            </td>
        </tr>
    </div>
</table>
</body>
</html>