<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Produits</title>
</head>
<body style="margin-left: 1.5%; margin-right: 1.5%">
<h1>
    Liste des produits:
</h1>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Accueil</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a sec:authorize="!isAuthenticated()" class="nav-link" th:href="@{/connexion}">Inscription / Connection</a>
                </li>
                <li class="nav-item">
                    <a sec:authorize="isAuthenticated()" class="nav-link" th:href="@{logout}">Deconnexion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/produits}">Produits</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/commandes}">Commandes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/ligneCommandes}">Panier</a>
                </li>
                <li class="nav-item">
                    <a sec:authorize="hasRole('administrateur')" class="nav-link" th:href="@{http://localhost:8100/actuator}">Actuator</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<table class="table">
    <tr>
        <th>Nom du produit :  </th>
        <th>Durée de validité :  </th>
        <th>Instructions :  </th>
    </tr>
    <div th:each="produit: ${produits}">
        <tr>
            <td>
                <span th:text="${produit.name}"></span>
            </td>
            <td>
                <span th:text="${produit.date_valide}"></span>
            </td>
            <td>
                <span th:text="${produit.instruction}"></span>
            </td>
            <td>
                <a class="btn btn-success" th:href="@{/AjoutLigneCommande/{id}(id = ${produit.id})}">Ajout</a>
            </td>
            <td sec:authorize="hasRole('administrateur')">
                <a class="btn btn-danger" th:href="@{/produits/delete/{id}(id = ${produit.id})}">
                    Supprimer
                </a>
            </td>
            <td sec:authorize="hasRole('administrateur')">
                <a class="btn btn-secondary" th:href="@{/produits/update/{id}(id = ${produit.id})}">
                    Update
                </a>
            </td>
        </tr>
    </div>
</table>

<div sec:authorize="hasRole('administrateur')">
    <a class="btn btn-success" th:href="@{/AjoutProduit}">Ajout Produits</a>
</div>

</body>
</html>