<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Modification commande</title>
</head>
<body style="margin-left: 1.5%; margin-right: 1.5%">

<h1>Modification statut commande:</h1>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Accueil</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a sec:authorize="!isAuthenticated()" class="nav-link" th:href="@{/connexion}">Inscription / Connection</a>
                </li>
                <li class="nav-item">
                    <a sec:authorize="isAuthenticated()" class="nav-link" th:href="@{logout}">Deconnexion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/produits}">Produits</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/commandes}">Commandes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/ligneCommandes}">Panier</a>
                </li>
                <li class="nav-item">
                    <a sec:authorize="hasRole('administrateur')" class="nav-link" th:href="@{http://localhost:8100/actuator}">Actuator</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</br>
<div class="container" style="width: 30%">
    <form action="#" th:action="@{/commandes/update/{id}(id = ${commandes.id})}" th:object="${commandes}" method="post">
        <div class="mb-3">
            <label for="date_commande" class="form-label">Date de la commande :</label><br/>
            <input type="text" th:field="*{date_commande}" id="date_commande" class="form-control" readonly><br/><br/>
        </div>

        <div class="mb-3">
            <label for="adresse" class="form-label">Adresse de Livraison:</label><br/>
            <input type="text" th:field="*{adresse}" id="adresse" class="form-control" readonly><br/><br/>
        </div>

        <div class="mb-3">
            <label for="ligneCommande.quantite" class="form-label">Quantité :</label><br/>
            <input type="text" th:field="*{ligneCommande.quantite}" id="ligneCommande.quantite" class="form-control" readonly><br/><br/>
        </div>

        <div class="mb-3">
            <label for="ligneCommande.produit_id" class="form-label">ID du produit :</label><br/>
            <input type="text" th:field="*{ligneCommande.produit_id}" id="ligneCommande.produit_id" class="form-control" readonly><br/><br/>
        </div>

        <div class="mb-3">
            <label for="livreur" class="form-label">Livreur :</label><br/>
            <input type="text" th:field="*{livreur}" id="livreur" class="form-control"><br/><br/>
        </div>

        <div class="mb-3">
            <label for="statut" class="form-label">Status :</label><br/>
            <select type="text" th:field="*{statut}" id="statut" class="form-select">
                <option th:value="A_LIVRER">A LIVRER</option>
                <option th:value="LIVREE">LIVREE</option>
            </select>
        </div>

        <br/><br/>

        <div class="mt-3 text-center">
            <input class="btn btn-primary mt-3" type="submit" value="Valide"/>
        </div>
    </form>
</div>

</body>
</html>